    body {  
         background-image: url("C:/Users/Sebastian/Downloads/project0/tools-wallpapers.jpg");
         font-family:"Lato", sans-serif;
         align-content: center;
         }

    h2   {
           color:red;
           text-align: center;
              }
    p    { 
           color: salmon;
           font-family: Cambria;
           text-align: center  
          }
   img {
       height: 250px;
        width: 350px;
        display: block;
        border-radius: 25%;
        margin-left: auto;
        margin-right: auto;
        }

   @media (min-width: 200px) {
              .container {
                max-width: 400px;
              }
              .overlay {
                     position: absolute;
                     top: 0;
                     bottom: 0;
                     left: 0;
                     right: 0;
                     height: 100%;
                     width: 78%;
                     opacity: 0;
                     border-radius: 25%;
                     transition: .6s ease;
                     background-color: rgb(186, 105, 0);
                     margin-left: auto;
                     margin-right: auto;
                   }
           
             .container:hover .overlay {
                     opacity: 1;
                   }
                   
              .text {
                     color: white;
                     font-size: 20px;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     -webkit-transform: translate(-50%, -50%);
                     -ms-transform: translate(-50%, -50%);
                     transform: translate(-50%, -50%);
                     text-align: center;
                     margin-left: auto;
                     margin-right: auto;
                   }
             .btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    font-size: 20px;
                    padding: 16px 30px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                  }

              a:link {
                    color: white;
                    background-color: transparent;
                    text-decoration: none;
                  }
                  
             a:visited {
                    color:red;
                    background-color: transparent;
                    text-decoration: none;
             }
            }