    
    
    body { 
       background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/02/21/627654/b4226a1a77c3184a4eb721cad4a855c3.jpg"); 
       background-size: cover;
       background-repeat: no-repeat;
       font-family: Cambria;
       align-content: center;
         }

    h2   {
           color:rgb(255, 255, 255);
           text-align: center;
           padding: 40px;
              }
    p    { 
           color: rgb(228, 228, 228);
           font-family: Cambria;
           text-align: justify;  
          }
   img {
       height: 200px;
        width: 310px;
        display: block;
        margin: auto;
        border-radius: 25%;
        }
   

              .container {
                         padding: 10px;
                         align-content: center;
                        
                        }
                        

              .text {
                     color: rgb(255, 255, 255);
                     font-size: 20px;
                     position: relative;
                     text-align: center;
                     }
              
               a:hover {
                background-color: snow;
                
               }

               a:link {
                      color: rgb(25, 0, 252);
                      background-color: transparent;
                      text-decoration: none;
                    }
              
               a:visited {
                         font-size: 20px;
                         position: relative;
                         color:rgb(131, 4, 4);
                         background-color: transparent;
                         text-decoration: none;
                         }
                        