    body {
          color: skyblue;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
         h2  {
              color:red;
              text-align: center;
             }
         p    { 
              color: salmon;
              font-family: Cambria;
              }


  